{
  acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

__DOMAINS__ {
    root * /srv/public
    php_fastcgi php:9000
    file_server
    try_files {path} {path}/ /index.php?{query}
    encode zstd gzip
    
    handle_errors {
        respond "Oops! Something went wrong." 500
    }
}

:80, :443 {
    root * /srv/public
    file_server
    respond "Chesskeeper fallback – valid domain required." 200
}


