__DOMAINS__ {
    root * /srv/public
    php_fastcgi php:9000
    file_server
    try_files {path} {path}/ /index.php?{query}
    encode zstd gzip
    
    handle_errors {
        respond "Oops! Something went wrong." 500
    }
}

